<mat-dialog-content>
  <div class="head-command">
    <h2>TOTAL : {{total}}</h2>
<mat-button-toggle class="mat-button-toggle" (click)="passCommand()">Commander</mat-button-toggle>
  </div>
  <mat-list>
    Détail:
    <mat-list-item *ngFor="let product of products">
      <div class="details-command">
        {{product.product_name}}
        <div *ngIf="product.code==''">
          Ce produit n'est pas disponible
        </div>
        <div *ngIf="product.code!=''">
          {{product.price}} euros  {{product.count}} article(s)
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

