@import 'node_modules/@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);


@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
    margin: 1% 0;
  }

  .mat-button-toggle:hover:enabled {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
}
@include mix-app-theme($app-theme);
.selection-content-wrapper{
  text-align: center;
  margin: 0 5%;
  padding-top: 5%;

}
mat-expansion-panel{
  text-align: left;

}
.mat-content-sub-wrapper{
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 6fr 1fr;
}
