<div class="page-wrapper">
<div class="selection-content-wrapper">
<h1>{{selection.name}}</h1>

<div *ngIf="selection.recipes==null||selection.recipes.length!=0">
  <mat-expansion-panel hideToggle *ngFor="let recipe of selection.recipes">
    <mat-expansion-panel-header>
      <div class="mat-content-sub-wrapper">
        <mat-panel-title>
          {{recipe.name}}
        </mat-panel-title>
        <mat-panel-description>
          description : {{recipe.description}}
        </mat-panel-description>
        <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                      (change)="addToRemoveList(recipe,$event.checked)">

        </mat-checkbox>
      </div>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let quantity of recipe.quantities">
        ingredient : {{quantity.ingredient.name}}
        quantités : {{quantity.quantity}} {{quantity.unit.name}}
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</div>
  <div *ngIf="selection.recipes==null||selection.recipes.length==0">
    <p>Vous n'avez aucune recette dans votre sélection pour l'instant, vous pouvez en ajouter en appuyant sur le bouton ajouter une recette.</p>
  </div>
  <div class="button-group">
    <button mat-raised-button class="mat-button-toggle" routerLink="/display-selection">Retour à la liste des selections</button>
    <button mat-raised-button  class="mat-button-toggle"  (click)="dialogService.openRecipeDialog()">Ajouter une recette</button>
    <button mat-raised-button  *ngIf="recipesToRemove.length!=0" class="mat-button-toggle"  (click)="deleteRecipes()">Supprimer</button>
    <button mat-raised-button *ngIf="recipesToRemove.length==0" class="mat-button-toggle" disabled>Supprimer</button>
    <button mat-raised-button (click)="dialogService.openStoreDialog(this.selection)" class="mat-button-toggle">Liste de courses</button>
  </div>
</div>
</div>
