@import 'node_modules/@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);


@mixin mix-app-theme($app-theme) {
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

  .mat-raised-button ,.mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-raised-button:enabled:hover, .mat-button-toggle:hover {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
}
@include mix-app-theme($app-theme);



.shopping-content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 5%;
  padding-top: 3%;
table{
  width: 100%
}
mat-paginator{
  width: 100%;
}
}
mat-row:hover{
  background: #f5f5f5;
  cursor: pointer;
}
h1{
  z-index: 2;
}
h2{
  font-weight: initial;
}
mat-cell{
  mat-form-field{
    width: 100%;
  }
  margin: 0 1%;
}
.product-match{
  width: 100%;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  justify-content: space-between;
}
.mat-mini-fab-custom{
  margin: 0 50px;
}
