<div class="page-wrapper">
  <div class="shopping-content-wrapper">
    <h1>{{shoppingList.name}}</h1>
    <h2>
      Magasin:
      {{this.shoppingList.store}}
    </h2>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="ingredient">
        <mat-header-cell *matHeaderCellDef> Ingredient </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ingredient.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="unity">
        <mat-header-cell *matHeaderCellDef> Quantité </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <p>  {{element.quantity}} {{element.unit.name}} </p>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef> Produits </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="product-match" *ngIf="getProductForQuantity(element)!=null">
            {{getProductForQuantity(element).product_name}}
            <button mat-mini-fab class="mat-mini-fab-custom" class="mat-button-toggle" (click)="this.dialogService.openCandidatesDialog(element,this.shoppingList,this)">
              <mat-icon>more_horiz</mat-icon></button>
          </div>
          <div *ngIf="getProductForQuantity(element)==null">
          <p>Nous n'avons pas trouvé de produits correspondant à cette ingrédient dans le magasin souhaité</p>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantité </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <form [formGroup]="shoppingForm" (ngSubmit)="onSubmit(element)">
            <mat-form-field >
              <input type="number" class="form-control" matInput name="value" value="1"  min="1" max="100"
                     formControlName="quantity" (change)="onSubmit(element)">
            </mat-form-field>
            </form>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>
          Supprimer
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                        (change)="addToRemoveList(row,$event.checked)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    <div class="button-group">
      <button mat-raised-button class="mat-button-toggle" (click)="requestCommand()">Passer une commande</button>
      <button mat-raised-button class="mat-button-toggle" (click)="deleteSelection()">Supprimer</button>
    </div>
  </div>
</div>
