<mat-dialog-content>
  <h1>Choix du produit</h1>

  <mat-list>
  <mat-list-item (click)="addDesiredProduct(product)" *ngFor="let product of products">
    <div class="mat-list-content">
      <h2 >{{product.product_name}}</h2><p>Quantité: {{product.quantity}} <br> Code Barre: {{product.code}}</p>
      <p *ngFor="let store of product.stores_tags">{{store}}</p>
    </div>

  </mat-list-item>
</mat-list>
</mat-dialog-content>
