
.mat-list-content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: left;
}
mat-list-item:hover{
  background: #f5f5f5;
  cursor: pointer;
}
h2{
  font-size: 1.0rem;
  text-transform: none;
}
