@import '~@angular/material/theming';

@include mat-core();

$view-primary: mat-palette($mat-amber);
$view-accent: mat-palette($mat-pink, A200, A100, A400);

$view-warn: mat-palette($mat-red);

$view-theme: mat-light-theme((
  color: (
    primary: $view-primary,
    accent: $view-accent,
    warn: $view-warn,
  )
));

@include angular-material-theme($view-theme);

