/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";
body { margin: 0; font-family: 'Varela Round', "Arial", sans-serif; }
body { margin: 0; font-family: 'Varela Round', "Helvetica Neue", sans-serif; }
app-root{display: grid; grid-template-rows: 1fr 25fr 1fr}
.container{margin: 2%}
