@import "~src/custom-theme";
ul{
  li{
    list-style: none;
  }
}
.first-step-wrapper{
  grid-gap: 25px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
img{
  width: 50%;
  grid-column: 2;
}
table{
  grid-column: 1;
  width: 100%;
  box-shadow: none;
  tr:nth-child(even){
    background: white;
  }
  tr:nth-child(odd){
    background: white;
  }
  th:nth-child(1){
    width: 350px;
  }
}
mat-paginator{
  grid-column: 1;
}
.mat-header-cell{
  text-transform: uppercase;
  color: white;
  background: #242424;
}
article{
}
mat-icon{
  color: white;
}
.button-container{
  display: flex;
  justify-content: center;
  padding: 2%;
  button{
    color: white;
  }
}
.delivery-type-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
