
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step>
      <div class="first-step-wrapper">


      <article>
        <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef> Nom</th>
            <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Prix </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantité </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
      </article>
        <article>
          <mat-card>
            <h1>Détail de votre commande</h1>
            <h2>Total = {{shoppingList.total}}</h2>
            <p>({{shoppingList.products.length}} produits)</p>
          </mat-card>
          <div class="button-container">
            <button mat-fab matStepperNext color="primary"><mat-icon>navigate_next</mat-icon></button>
          </div>
        </article>
      </div>
    </mat-step>
    <mat-step>
      <form class="delivery-type-container" [formGroup]="chooseDeliveryType">
        <mat-form-field appearance="fill">
          <mat-label>Mode de livraison</mat-label>
          <mat-select [formControl]="type">
            <mat-option value="Livraison">Livraison</mat-option>
            <mat-option value="Drive">Drive</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="chooseDeliveryType.get('type').value=='Drive'">
          <mat-label>Point de retrait</mat-label>
          <mat-select [formControl]="storefordrive">
            <mat-option value="Magasin 1">Magasin 1</mat-option>
            <mat-option value="Magasin 2">Magasin 2</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="chooseDeliveryType.get('type').value=='Livraison'">
          <mat-label>Adresse</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" matStepperNext (click)="onSubmit()">Confirmer</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form class="delivery-type-container" [formGroup]="choosePaymentMeans">
        <mat-form-field appearance="fill">
          <mat-label>Mode de paiement</mat-label>
          <mat-select [formControl]="means">
            <mat-option value="Carte bancaire">Carte bancaire</mat-option>
            <mat-option value="Paypal">Paypal</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" matStepperNext (click)="onSubmitPay()">Confirmer</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <div class="first-step-wrapper">

      <article>
      <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
      </article>
      <article>
        <mat-card>
          <h1>Détail de votre commande</h1>
          <h2>Total = {{shoppingList.total}}</h2>
          <p>({{shoppingList.products.length}} produits)</p>
          <p>Mode de livraison : {{shoppingList.delivery_type.type}}</p>
          <p>Au : {{shoppingList.delivery_type.address}}</p>
          <p>Moyen de paiement : {{shoppingList.payment_means}}</p>
        </mat-card>
        <div class="button-container">
          <button mat-fab matStepperNext color="primary"><mat-icon>shopping_cart</mat-icon></button>
        </div>
      </article>
      </div>
    </mat-step>

  </mat-horizontal-stepper>




