/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; z-index: 2}
body { margin: 0; font-family: Roboto, "Arial", sans-serif; }
h1,h2{
  text-transform: uppercase;
  position: relative;
}
p{
  position: relative;}
div,table,header,footer,p,h1,h2,h3,h4,h5,span,em,pre{
  z-index: 2;
}
app-root{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.page-wrapper{
  z-index: 0;
  background-image: url("assets/img/herbs-906140_1920.jpg");
  background-size: cover;
  background-position-x: 30vw;
  background-position-y: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}
.page-wrapper:before{
  z-index: 0;
  content: "";
  position: fixed;
  margin-top: -64px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(130deg, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%) fixed no-repeat;
}
app-top-bar{
  z-index: 3;
}
app-footer{
  z-index: 3;
}
.container{
  flex-grow: 2;
}
.button-group{
  display: flex;
  justify-content: flex-end;
}
