<div class="home-presentation-wrapper">
  <p>Ajoutez et consultez vos sélections et préférences à travers les différents onglets ci-dessous</p>
</div>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Mes sélections
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item routerLink="/display-selection" > Voir mes sélections </a>
    <a  mat-list-item (click)="dialogService.openSelectionDialog()"> Ajouter une sélection </a>
  </mat-nav-list>
</mat-expansion-panel>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Mes Listes de courses
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item routerLink="/display-list" > Voir mes listes </a>
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel hideToggle style="display: none">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Mes préférences
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <a mat-list-item>Voir les préférences </a>
    <a mat-list-item>Ajouter une préférences</a>
  </mat-nav-list>
</mat-expansion-panel>
