mat-panel-title{
  font-size: 1.3rem;
  width: 100%;
  justify-content: center;
}
mat-expansion-panel{
  margin: 1% 10%;
}
.home-presentation-wrapper{
}
p{
  margin: 0 10%;
  padding-top: 5%;
  font-size: 1.3rem;
}
