<div class="page-wrapper">
  <div class="table-wrapper">
    <h1>Mes Listes</h1>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <!-- Recipe Count Column -->
      <ng-container matColumnDef="store">
        <mat-header-cell *matHeaderCellDef> Magasin </mat-header-cell>
        <mat-cell *matCellDef="let element">
           {{element.store}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nbProduct">
        <mat-header-cell *matHeaderCellDef>
          Nombre de produits
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
         <p>{{countProductInProposalsMap(row)}}</p>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateTo(row)"> </mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    <div class="button-group">
 </div>

  </div>
</div>
