@import 'node_modules/@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);


@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-raised-button {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-raised-button:enabled:hover {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
}
@include mix-app-theme($app-theme);



.table-wrapper{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 5%;
  padding-top: 5%;
  table{
    width: 100%
  }
  mat-paginator{
    width: 100%;
  }
}
mat-row:hover{
  background: #f5f5f5;
  cursor: pointer;
}
