
<div class="selection-wrapper">
  <h2>Veuillez rentrez un nom pour votre nouvelle sélection:</h2>
  <form [formGroup]="selectionForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nom de la sélection</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <button mat-button color="primary"  type="submit">Créer</button>

  </form>
</div>

