<div class="page-wrapper">
  <div class="home-wrapper " *ngIf="!authService.isLoggedIn">
    <mat-card class="span-wrapper">
      <h2>A travers cette interface:</h2>
      <div class="grid-wrapper">

        <mat-card  class="grid-tiles-title">
          <h3>Enregistrez des sélections de vos recette favorites !</h3>
          <mat-icon color="accent">check_circle</mat-icon>
        </mat-card>
        <mat-card class="grid-tiles-title">
          <h3>Ajoutez ou supprimez des recettes de vos selections en utilisant l'API Cooking recipe</h3>
          <mat-icon color="accent">check_circle</mat-icon>
        </mat-card>
        <mat-card class="grid-tiles-title">
          <h3>Renseignez vos préférences produits dans vos paramètres personnels</h3>
          <mat-icon color="accent">check_circle</mat-icon>
        </mat-card>
        <mat-card class="grid-tiles-title">
          <h3>Créez des listes de courses à partir de vos sélections!</h3>
          <mat-icon color="accent">check_circle</mat-icon>
        </mat-card>
      </div>
    </mat-card>

  </div>
  <app-user-home *ngIf="authService.isLoggedIn"></app-user-home>
</div>

