@import 'node_modules/@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);


@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);
  .grid-wrapper {
    margin: 2% 0;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10% 1%;
  }
  .span-wrapper{
    height: 65%;
    background: white;
    color: rgba(0,0,0,.87);;
  }
}
@include mix-app-theme($app-theme);
.home-wrapper{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-left: 5%;
}
