.fill-remaining-space{
  flex: 1 1 auto;
}
.hello-user{
  color: white;
  padding: 1%;
}
.home-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  width: 8vw;
}
