<header>
<mat-toolbar color="primary">
  <mat-nav-list>
    <a class="home-link" [routerLink]="['/']">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <span>Recipes Shop</span>
    </a>
  </mat-nav-list>
  <span class="fill-remaining-space"></span>
  <span class='hello-user' *ngIf="!authService.isLoggedIn"></span>
  <span  class="hello-user" *ngIf="authService.isLoggedIn">Bienvenue {{authService.name}}</span>
  <mat-button-toggle (click)="authService.login()" *ngIf="!authService.isLoggedIn">Connexion</mat-button-toggle>
  <mat-button-toggle (click)="authService.logout()" *ngIf="authService.isLoggedIn">Déconnexion</mat-button-toggle>
</mat-toolbar>
</header>
