<mat-dialog-content>
  <h2>Vous pouvez chercher une recette:</h2>
  <form [formGroup]="recipeTextForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Texte</mat-label>
      <input matInput required minlength="3" formControlName="text">
    </mat-form-field>
    <button mat-button color="primary" [disabled]="!recipeTextForm.valid" type="submit">Recherche</button>

  </form>
  <div *ngIf="this.isSubmitted==true">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  <div *ngIf="isNotFound==true&&this.isSubmitted==false">
    <p>Votre recherche n'a donné aucun resultat veuillez essayer une autre recherche</p>
  </div>
  <div *ngIf="this.recipes!=null&&this.isSubmitted==false">
  <app-recipe-results [recipes]="recipes"></app-recipe-results>
</div>
</mat-dialog-content>
