@import 'node_modules/@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);


@mixin mix-app-theme($app-theme) {
$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

  .mat-raised-button:enabled {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-raised-button:enabled:hover {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
}
@include mix-app-theme($app-theme);

table {
  width: 100%;
}
tr.detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}


.example-element-description {
  padding: 16px;
}

