header{
  width: 100vw;
  height: 100%;
  padding: 0;
  mat-toolbar{
    padding: 0;
    height: 100%;
    img{
      position: absolute;
      height: 235px;
      top: 5px;
      right: 5px;

    }
    .title{
      text-transform: uppercase;
      font-family: 'Kalam', cursive;
      color: white;
      text-shadow:-2px 1px 6px #242424;
      font-size: 1.2em;
      padding-left: 1%;
    }
  }
}

