<mat-dialog-content>
  <h2>Choisissez un magasin:</h2>

  <form *ngIf="!isLoading" [formGroup]="chooseStoreForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Magasin</mat-label>
      <input matInput required formControlName="store"
             type="text"
             aria-label="Number"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>

</mat-dialog-content>
