<div class="page-wrapper">
<div class="table-pagination-for-selection">
  <h1>Mes sélections</h1>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
  </mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>
  <!-- Recipe Count Column -->
  <ng-container matColumnDef="nbRecipe">
      <mat-header-cell *matHeaderCellDef> Nombre de recettes </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <p *ngIf="element.recipes!=null ">  {{element.recipes.length}} </p>
        <p *ngIf="element.recipes==null "> 0  </p>
        </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>
      Supprimer
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox color="warn" (click)="$event.stopPropagation()"
                    (change)="addToRemoveList(row,$event.checked)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateTo(row)"> </mat-row>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
  <div class="button-group">
    <button mat-raised-button  *ngIf="this.selectionsToRemove.length!=0" color="primary" (click)="removeSelection()">Supprimer</button>
    <button mat-raised-button *ngIf="this.selectionsToRemove.length==0"  disabled> Supprimer</button>
    <button mat-raised-button color="primary" (click)="dialogService.openSelectionDialog()">Ajouter</button>
  </div>
</div>
</div>
